$o-brand-pmsimply: #1B567A;
$o-brand-pmsimply-navbar-inverse-link-hover-bg: darken(#1B567A, 10%) !default;
$o-brand-pmsimply-navbar-extra-menu-items-dropdown-toggle: lighten(#1B567A, 15%);

// START LABEL ROOT
//a {
//    color: $o-brand-pmsimply !important;
//}
// END LABEL ROOT

// START NAVBAR
.o_main_navbar {
    border-bottom: 1px solid $o-brand-pmsimply;
    background-color: $o-brand-pmsimply;

    > a, > button {
        &:hover, &:focus {
            background-color: $o-brand-pmsimply-navbar-inverse-link-hover-bg;
        }
    }

    > ul {
        > li {
            > a, > label {
                &:hover {
                    background-color: $o-brand-pmsimply-navbar-inverse-link-hover-bg;
                }
            }
            &.o_extra_menu_items {
                > a {}
                &.show > ul {
                    > li {
                        > a {
                            background-color: $o-brand-pmsimply;

                            &.dropdown-toggle {
                                background-color: $o-brand-pmsimply-navbar-extra-menu-items-dropdown-toggle;
                            }
                        }
                    }
                }
            }
            
        }

    }
    .show .dropdown-toggle {
        background-color: $o-brand-pmsimply-navbar-inverse-link-hover-bg;
    }
}
// END NAVBAR

// START FIELDS
// REQUIRED
.o_required_modifier {
    &.o_input, .o_input {
        background-color: #CAE8FA !important;
    }
}
// END FIELDS

// START DOMAIN SELECTOR
.o_domain_node {
    &::after {
        background-image: linear-gradient(45deg, rgba(#1B567A, 0.4), rgba(#1B567A, 0.1));
    }
}
// END DOMAIN SELECTOR

// START DOMAIN SELECTOR
.ui-autocomplete .ui-menu-item {
    > a.ui-state-active {
        background-color: $o-brand-pmsimply;
        color: white;
    }
    &.o_m2o_dropdown_option > a {
        color: #1B567A;
        &.ui-state-active {
            color: white;
        }
    }
}
// END DOMAIN SELECTOR

// START LABELS
.breadcrumb {
    .breadcrumb-item {
        > a {
            color: $o-brand-pmsimply !important;
        }
    }
}
.o_form_view {
    .o_form_uri {
        color: #1B567A;
        &:hover {
            color: darken(#1B567A, 15%);
        }
        > span:first-child {
            color: #1B567A;
            &:hover {
                color: darken(#1B567A, 15%);
            }
        }
    }
}
// END LABELS

// START BUTTONS
.btn-primary {

    background-color: $o-brand-pmsimply !important;
    border-color: #1B567A !important;

    &:hover {
        background-color: darken(#1B567A, 15%) !important;
        border-color: #1B567A !important;
    }
    
}

.o_form_statusbar {
    > .o_statusbar_status {
        > .o_arrow_button {
           
            &:not(.disabled) {
                &:hover, &:active, &:focus {
                    color: $o-brand-pmsimply !important;
                    background-color: gray('200') !important;

                    &:after {
                        border-left-color: gray('200') !important;
                    }
                }
            }

            &.btn-primary.disabled {
                background-color: gray('200') !important;
                color: $o-brand-pmsimply !important;
            }
        }
    }

}

.oe_button_box {

    .btn.oe_stat_button {
        > .o_stat_info, > span { 
            .o_stat_value {
                color: $o-brand-pmsimply;
            }
        }
    }
}

// END BUTTONS

// START SEARCH VIEW AND SEARCH PANEL
.o_searchview {
    .o_searchview_facet {
        .o_searchview_facet_label {
            background-color: $o-brand-pmsimply;
        }
    }
    .o_searchview_autocomplete li.o-selection-focus {
        background-color: $o-brand-pmsimply;
    }
}

.o_controller_with_searchpanel {
    .o_search_panel {
        .o_search_panel_category .o_search_panel_section_icon {
            color: $o-brand-pmsimply;
        }
    }
}
// END SEARCH VIEW AND SEARCH PANEL

// START LOADING
.o_loading {
    background-color: $o-brand-pmsimply;
}
// END LOADING

// START CHAT HEADER
.o_thread_window_header {
    background-color: $o-brand-pmsimply !important;
}
// END CHAT HEADER

// START TOOLTIP
.o_tooltip {
    $o-tip-color: $o-brand-pmsimply;
    $o-tip-border-width: 2px;
    
    border: $o-tip-border-width solid $o-tip-color;
    background-color: $o-tip-color;

    &.right::before {
        border-right-color: $o-tip-color;
    }
    &.top::before {
        border-top-color: $o-tip-color;
    }
    &.left::before {
        border-left-color: $o-tip-color;
    }
    &.bottom::before {
        border-bottom-color: $o-tip-color;
    }

    &::after {
        border-color: $o-tip-color;
        background: radial-gradient(lighten($o-tip-color, 7%), $o-tip-color);
    }

    &.active {
       
        &.right {
            &::before {
                border-right-color: $o-tip-color;
            }
        }
        &.top {
            &::before {
                border-top-color: $o-tip-color;
            }
        }
        &.left {
            &::before {
                border-left-color: $o-tip-color;
            }
        }
        &.bottom {
            &::before {
                border-bottom-color: $o-tip-color;
            }
        }
    }

}
// END TOOLTIP

